# Dependencies
npm-debug.log*

# Next.js
out/

# Production
build

# Misc
.DS_Store
*.tgz
*.tar.gz

# Debug
*.log

# Local env files
.env*.local
.env

# Vercel
.vercel

# IDE
.vscode
.idea

# OS
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml
.dockerignore